.header {
  background-image: url(images/fairway-pizza-palm-harbor.jpg);
  background-size: cover;
  opacity: .9;
  padding-left:550px;
  padding-top: 130px;
  padding-bottom: 130px;
}

.title {
  color: rgb(54, 36, 2);
  font-family: 'Dancing Script';
  font-size: larger;
}
h1 {
  font-size: 80px;
}

.welcome {
  background-color: rgb(145, 196, 196);
  padding: 70px;
  font-family: 'Barlow Condensed' ;
}
